@{
    ViewData["Title"] = "InvullenVoeding";
}
<h2>Wat heeft u vandaag gegeten?</h2>
<br />
<form method="post" action="InvullenVoeding">
    <input type="search" name="ProductSearch" />
    <input type="submit" value="Search" />
    <br />
    <br />
    @{
        foreach (GetHealthy.Models.ProductViewModel item in Model.ListA(Model.Page))
        {
            <input type="radio" id="@item.naam" name="Product" value="@item.naam">
            <label for="@item.naam">@item.naam</label>
            <br />
        }

        <input id="Pagina" name="Pagina" type="number" value="1" />
        <label>Voer een pagina van 1 tot en met 10 in en klik op "Ga naar pagina".</label>
        <br />
        <input type="submit" value="Ga naar pagina" />
    }
    <br />
    <br />
    <select name="hoeveelheid" value="Hoeveelheid" id="hoeveelheid">
        <option value="1">500 gram (een volledige maaltijd)</option>
        <option value="2">250 gram (een groot deel van een maaltijd)</option>
        <option value="3">100 gram (een klein deel van een maaltijd)</option>
        <option value="4">50 gram (een tussendoortje)</option>
        <option value="5">10 gram (een hapje)</option>
    </select>
    <label for="hoeveelheid">Hoeveel heeft u van dit product op?</label>
    <br />
    <br />
    <input type="submit" value="Toevoegen" />
    <br />
    <br />
</form>
<input type="button" value="Berekenen" onclick="window.location.href = '@Url.Action("Uitkomst", "Uitkomst")';" />
<br />
<br />
<h5>Uw toegevoegde producten:</h5>
<br />
@{
    foreach (GetHealthy.Controllers.Product item in Model.ListB)
    {
        <a>@item.naam</a>
        <br />
    }
}